body {
    background-color: #404040;
}

h1 {
    color: #ffff;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 90;
}

.title {
    margin-top: 20vh;
    text-align: center;
}

.loginForm {
    width: 80vw;
    height: 10vh;
}
