@import './views/scss/general';

h1, h2, h3, h4, h5, h6, p {
    color: #ffff;
    font-size: 40px;
    font-family: $main-font;
    font-weight: 90;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 34px;
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}

p {
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.title {
    margin-top: 20vh;
    text-align: center;
}

div.panel {
    background: $button-bg;
    width: 60vw;
    margin-left: 20vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.banner {
    background: $button-bg;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.highScore {
    margin-bottom: 10vh;
}

button {
    width: 60vw;
    height: 5vh;
}


h1#ntih1 {
    width: 60vw;
    margin-left: 20vw;
    margin-bottom: 0;
    margin-top: 0;
}

h1#killerh1 {
    width: 60vw;
    margin-left: 20vw;
    margin-top: 0;
    margin-bottom: 10vh;
}

div#target {
    margin-top: 10px;
    margin-bottom: 15vh;
}

$murdered-height: 8vh;
div#rules {
    margin-bottom: 5vh;
    padding: 0;
    background: #00000000;
    height: $murdered-height;

    button {
        height: $murdered-height;
    }
}

div#murdered {
    margin-bottom: 10vh;
    padding: 0;
    background: #00000000;
    height: $murdered-height;

    button {
        height: $murdered-height;
    }
}

div#container {
    margin: 0;
    padding: 0;
    padding-top: 10vh;
    background: $main-bg;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.blurred {
    filter: blur(8px);
}

div#confirmDeathWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 100;

    display: grid;
    justify-items: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    transition: opacity .5s ease-in-out;

    &.poppedUp {
        opacity: 1;
        pointer-events: auto;
    }
}

div#confirmDeathPopup {
    width: 80vw;
    height: 80vh;
    background: $main-bg;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px #cf34ebaa;

    button {
        margin-top: 10vh;
        margin-left: 10vw;
        height: $murdered-height;
    }

    h2 {
        width: 60vw;
        margin-left: 10vw;
    }

}

button.disabled {
    opacity: 0.35;
    cursor: not-allowed;
}

button.logoutButton {
    margin-top: 4vh;
    margin-left: 20vw;
    margin-bottom: 10vh;
    height: $murdered-height;
}


