@import './views/scss/general';

h1, p {
    color: #fff;
    font-size: 40px;
    font-family: $main-font;
    font-weight: 90;
}

p.pwReset {
    font-size: 16px;
    width: 70vw;
    margin-left: 15vw;
    color: #ccc;
}

a#pwReset {
    color: #aaa;
}

.title {
    padding-top: 5vh;
    text-align: center;
}

input.loginForm {
    width: 70vw;
    height: 8vh;
    margin-left: 15vw;
    margin-top: 3vh;

    background-color: #00000000;
    color: #fff;
    font-size: 3vh;
    line-height: 0.5vh !important;

    border: none;
    border-bottom: 2px solid #aaa;
}

input.loginForm:focus {
    border: none;
    border-bottom: 2px solid #8153A4;
    transition: border-bottom 0.2s linear;
}

textarea:focus, input:focus{
    outline: none;
}

button {
    width: 40vw;
    height: 6vh;
    margin-left: 30vw;
    margin-top: 5vh;
}

h1#ntih1 {
    width: 60vw;
    margin-left: 20vw;
    margin-bottom: 0;
    margin-top: 0;
}

h1#killerh1 {
    width: 60vw;
    margin-left: 20vw;
    margin-top: 0;
    margin-bottom: 2vh;
}
